<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>v-blog-search</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/content.css">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <link href="/css/purple.css" rel="stylesheet" />
    <link href="/css/atelier-forest-light.css" rel="stylesheet" />
    <link href="/css/codeBackground.css" rel="stylesheet" />
</head>

<body>
    <div id="progress-bar">
        <div id="progress-bar-completed"></div>
    </div>
    <div id="header">
        <image id="header-background" src="/images/header-image-2.jpg" />

        <image id="admin" src="/icons/adminLogin.png" />
        <!-- <a id="admin">后台登录</a> -->

        <div id="title"><%= title %></div>
        <div id="subtitle"><%= subtitle %></div>

        <image id="down" src="/icons/down.png"></image>

        <form id="search-form">
            <input id="search" type="text" name="search" />
            <image id="search-btn" src="/icons/search.png" />
        </form>
    </div>
    <div id="h-c-hr"></div>
    <!-- 适配index.js -->
    <div id="archive" style="display: none;"></div>
    <div id="author-name" style="display: none;"></div>
    <div id="author-url-github" style="display: none;"></div>
    <div id="author-url-bilibili" style="display: none;"></div>
    <div id="author-name-span" style="display: none;"></div>

    <div id="content">
        <div id="res-list">
            <div class="search-hr"></div>
            <% res.forEach(function(archive) { %>
            
            <% var href = '/archives/get/' + archive.id %>
            <% var tag = '<a class="res-list-item-a" target="_blank" href=' + href + ' >' + archive.name + '</a>'; %>
            <%- tag %>
            <div class="res-list-item-desc">
                <%= archive.description %>
            </div>
            <div class="res-list-item-tags">
                <%= archive.tags %>
                <% if(typeof(res.tags) != "undefined") { %>
                <% archive.tags.forEach(function (tag) { %>
                <div class="res-list-tags-name">
                    <%= tag.name %>
                </div>
                <% }); %>
                <% } %>
            </div>
            <div class="search-hr"></div>
            <% }); %>
        </div>
    </div>


    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>

    <!-- 加载 Bootstrap 的所有 JavaScript 插件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <!-- 脚本 -->
    <script src="/js/index.js"></script>
</body>

</html>